<%= form_with(model:[@customer, @appointment], local: true) do |form| %>
  <div>
    <%= form.label :customer_id, "Select Customer" %>
    <%= form.collection_select :customer_id, Customer.all, :id, :name, { prompt: "Choose a customer" } %>
  </div>

  <div>
    <%= form.label :animal_id, "Choose an Animal" %>
    <%= form.collection_select :animal_id, Animal.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :scheduled_at %>
    <%= form.datetime_select :scheduled_at %>
  </div>

  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>
